html {
  font-size: 100%;
}

:root {
  color: var(--color-text);
  background: var(--color-surface);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font: var(--font-weight-regular) 1rem/var(--line-height-base) var(--font-sans);
}

#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

p {
  margin: 0;
}
